* {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgrey;
}

.header, .footer {
    height: 100px;
    background-color: darkolivegreen;
    padding: 20px;
    display: flex;
    align-items: center;
}

.foot_link {
    background-color: darkolivegreen;
}

.footer {
    justify-content: center;
}   

.header {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 42px;
}

#self {
    max-width: 200px;
    height: auto;
    align-items: center;
}

.contact {
    border: 2px;
    border-style: solid;
}

h2 {
    text-decoration: underline;
}
